// Main stuff
$background-color-light-gray: #f7f7f7;
$background-color-lighter-gray: #fcfcfc;
$background-color-grey-05: #00000005;

// Font style
$primary-font-color: #333333;
$header-font-color: #666666;
$font-color-lightgrey: #aaaaaa;
$font-color-grey: #999999;

$font-color-lightblue: #03aaf4;
$font-color-lightblue-hover: #0175a8;

// Table style
$table-border-color: #c7d2d98c;
$table-header-color: #f1f1f1;
$table-border-dashed-grey: #dfdfdf;
$table-row-color-white: #ffffff;

$sidepanel-border-color: #ececec;
$sidepanel-border-left-color: #89919a;

// Style like notifications
$primary-text-color: #004085;
$primary-background-color: #e0efffe0;
$primary-border-color: #b8daff;

$success-text-color: #155724;
$success-background-color: #d4edda;
$success-border-color: #c3e6cb;

$error-text-color: #721c24;
$error-background-color: #f8d7da;
$error-border-color: #f5c6cb;

$warning-text-color: #856404;
$warning-background-color: #fff3cd;
$warning-border-color: #ffeeba;

$info-text-color: #0c5460;
$info-background-color: #d1ecf1;
$info-border-color: #bee5eb;
