// Main stuff
$background-color-light-gray: #f7f7f7;
$background-color-lighter-gray: #fcfcfc;

// Font style
$primary-font-color: #333333;
$font-color-lightgrey: #aaaaaa;
$font-color-grey: #999999;

$font-color-lightblue: #03aaf4;
$font-color-lightblue-hover: #0175a8;

// Table style
$table-border-color: #c7d2d98c;
$table-header-color: #f1f1f1;
$table-border-dashed-grey: #dfdfdf;
$table-row-color-white: #ffffff;

$sidepanel-border-color: #ececec;
$sidepanel-border-left-color: #89919a;
