.col,
.container,
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}

@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}
