@import '../../../assets/styles/fonts';

.duration-timer {
    .timer {
        min-width: 100px;
        text-align: center;
        float: left;
        font-size: $font-size-normal2;
    }

    button {
        width: 100px;
        float: left;
        height: 38px;
    }

    .options {
        display: inline-block;
        min-width: 41px;
        text-align: center;
    }
}
