@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.timerecord-list {
    .total {
        float: right;
        display: inline-flex;

        .total-time {
            padding-left: 5px;
            color: $primary-font-color;
            font-size: $font-size-normal2;
        }
    }

    .duration {
        font-size: $font-size-normal2;
    }

    .description,
    .interval {
        font-size: $font-size-min;
    }
    .interval,
    .options {
        color: $font-color-grey;
    }
}
